<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/general.css"/>
</head>
<body>

<div class="container">
    <form action="#" th:action="@{/ratos/next}" method="post">

        <div class="row top">
            <div class="col-12">
                <img class="mx-auto d-block" src="/img/start.png" border=0 alt="RATOS v.2.0">
            </div>
        </div>

        <div class="row block text-center">
            <div class="col-12">
                <h4 class="form-signin-heading" align="center" th:text="#{error.repeated}"/>
            </div>
        </div>

        <div class="row button text-center">
            <div class="col-12">
                <input type="submit" th:value="#{question.next}"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>