<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interruption</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main-style.css"/>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-12">
            <img class="mx-auto d-block" src="/img/start.png" border=0 alt="RATOS v.2.0">
        </div>
    </div>

    <div class="row text-center" style="margin-top:5px;">
    <div class="col-12">
        <form action="/ratos/continue" method="post">
            <input type="submit" value="Возобновить&gt;&gt;&gt;" class="btnStart"/>
        </form>
        <form action="/finish" method="post">
            <input type="submit" value="Закрыть сессию&gt;&gt;&gt;" class="btnStart"/>
        </form>
    </div>
</div>
</div>
</body>
</html>