<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/general.css"/>
    <link rel="stylesheet" type="text/css" href="/css/question.css"/>
</head>
<body>

<div class="container-fluid">
    <form action="#" th:action="@{/ratos/next}" th:object="${question}" method="post">
        <input type="hidden" name="id" id="id" th:field="*{qid}"/>

        <aside>
            <span th:text="*{student.name}"/><span th:text="*{student.surname}"/>
            <div style="text-align: left">
                <a href="/abuse"><img src="/img/trouble.gif" border="0"
                                      title="Пожаловаться на некорректный вопрос"></a>
                <a href="/finish"><img src="/img/close.png" border="0" title="Завершить тестирование"></a>
            </div>
        </aside>

        <div class="row top text-center">
            <div class="col-12">
                <h3 align="center" th:text="*{scheme.scheme}"/>
                <small>
                    <div th:text="'Осталось: '+*{timeLeft}+ ' на '+*{questionsLeft}+ ' вопросов'"/>
                </small>
            </div>
        </div>

        <!--<input type="hidden" id="left" name="left" th:value="*{questionsLeft}">-->

        <div class="row block text-center">
            <div class="col-12">
                <h4 class="form-signin-heading" align="center" th:text="*{title}"/>
            </div>
        </div>

        <div class="row block text-left full-width-div">
            <table border="1">
                <tbody>
                <tr th:each="item : *{answers}">
                    <td class="td_normal"
                        onclick="if(!this.getElementsByTagName('input')[0].checked){
                                this.getElementsByTagName('input')[0].checked=true;
                                this.className='td_selected';
                             }
                        else {
                                this.getElementsByTagName('input')[0].checked=false;
                                this.className='td_normal';
                             }">
                        <input type="checkbox" name="answer" th:value="${item.aid}"
                               onclick="this.checked=!this.checked;"/>
                        <a href="#" th:text="${item.title}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row button text-right">
            <div class="col-12">
                <input type="submit" value="Следующий&gt;&gt;&gt;" class="btnStart">
            </div>
        </div>

    </form>
</div>
</body>
</html>