<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main-style.css"/>
</head>
<body>
<div class="container-fluid">
    <form action="#" th:action="@{/ratos/next}" th:object="${question}" method="post">

        <div>
            <input type="hidden" name="id" id="id" th:field="*{qid}"/>
        </div>

        <div class="row text-center" style="margin-top:20px;">
            <div class="col-2">
                <span th:text="*{student.name}"/>
                <span th:text="*{student.surname}"/>
            </div>
            <div class="col-10">
                <h4 class="form-signin-heading" align="center" th:text="*{scheme.scheme}"/>
                <div th:text="*{timeLeft}"/>
            </div>
        </div>

        <div class="row text-center" style="margin-top:20px;">
            <div class="col-12">
                <h2 class="form-signin-heading" align="center" th:text="*{title}"/>
            </div>
        </div>

        <div class="row text-left" style="margin-top:20px;">
            <ul>
                <div th:each="item : *{answers}">
                    <li>
                        <input type="checkbox" name="answer" th:value="${item.aid}"/>
                        <label th:text="${item.title}">answer</label>>
                    </li>
                </div>

             <!--   <li th:each="item, stat : ${answers}">
                    &lt;!&ndash;<label th:text="${stat.index}">Test</label>&ndash;&gt;
                    <input type="checkbox" th:field="*{answers[__${stat.index}__]}" th:value="${item.aid}" />
                    <label th:text="${item.title}">answer</label>
                </li>-->

            </ul>
        </div>

        <div class="row" style="margin-top:5px;">
            <div class="col-12">
                <input type="submit" value="Следующий&gt;&gt;&gt;" class="btnStart">
            </div>
        </div>

    </form>
</div>
</body>
</html>