<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<form method="POST" action="/question/" enctype="multipart/form-data">
    <input type="text" id="themeId" name="themeId" value="1"/><br/><br/>
    <input type="text" id="langId" name="langId" value="1"/><br/><br/>
    <input type="text" id="confirmed" name="confirmed" value="false"/><br/><br/>

    <input type="file" id="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>
</body>
</html>