<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Password reset</title>
</head>
<body style="background-color: lightyellow">
<div class="text-center m-5">
    <p class="alert" th:classappend="${error} ? alert-danger : alert-success" th:text="${message}">Text</p>
</div>
</body>
</html>