<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>

<body>
<p>
    Hello LMS User <span th:text="${username}"/>!
</p>

<form method="post" action="/lms/session/post-score">
    <p>
        <input type="text" id="score" name="score" placeholder="score" />
        <input type="hidden" id="schemeId" name="schemeId" th:text="${schemeId}" th:value="${schemeId}" />
    </p>
   <button type="submit">Post score (form) >></button>
</form>

<p>
    <button id="postscore" name="postscore">Post score from field (in %, like 60) >></button>
</p>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript'>
    $("#postscore").click(function(e) {
        $.ajax({
            type: "POST",
            url: "/lms/session/post-score?score="+document.getElementById('score').value+'&schemeId='+document.getElementById('schemeId').value,
            data: {},
            success: function(result) {
                alert('ok'+result);
            },
            error: function(result) {
                alert('error');
            }
        });
    });
</script>
</html>